
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
    @* Burası projenin layout kısmı bu kısımda yazılanlar sayfada sabit kalırlar  *@
    <div>
        Burhası layout
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
